akshare
akquant
selenium
webdriver-manager
playwright
matplotlib
pandas
numpy
scipy
scikit-learn
statsmodels
jupyterlab
notebook
ipython
requests
beautifulsoup4
lxml
pytest
pytest-cov
coverage
flake8
black
isort
mypy
pre-commit
tox
virtualenv
pipenv
poetry
